.SectionMore {
    padding: 70px 0;
    overflow-y: hidden;
}
.SectionMore-Inner{
    margin-bottom: 70px;
}

.SectionMore-Text{
        max-width: 750px;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
}
    
.SectionMore-Inner .Button{
        margin: 0 auto;
}
    
.SectionMore-CardsContainer {
        width: 1280px;
        margin: 0 auto;
}
    
.SectionMore-CardsContainer::after {
        clear: both;
}
